%div{:style => "font-family: ArizoniaRegular;font-size: 50px;color:#0B6FB7 !important;text-align:center;background: none repeat scroll 0 0 #0B6FB7 !important; height: 80px;width: 100%;margin-bottom: 15px;"}
  %h1{:style => "font-size: 50px;color:#fff !important;line-height: 70px;"}
    Post Common Message On Selected Facebook Walls

.success-error{:style => "width:100%"}
  - if flash[:notice].present?
    %ul
      %li{:style => "font-size:20px !important;color:#0B6FB7 !important;"}
        %span{:style => "font-size:20px !important;;color:green !important;;"}
          = flash[:notice]
  - if flash[:error].present?
    %ul
      %li{:style => "font-size:20px !important;color:#0B6FB7 !important;"}
        %span{:style => "font-size:20px !important;;color:red !important;;"}
          = flash[:error]

- if user_signed_in?

  %div{:width=>"100%",:style => "text-align:right"}
    = link_to "Logout","#{destroy_user_session_path}",:class => "btn"
    -#%a.btn{:href => "#{destroy_user_session_path}"} Logout
  = form_tag('/post_on_page') do
    %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0,:border => "2px"}
      %tr
        %th{:style=>"background-color:#0B6FB7 !important;color:#fff !important"}
          Select Group(s)
        %th{:style=>"background-color:#0B6FB7 !important;color:#fff !important"}
          Select Page(s)
        %th{:style=>"background-color:#0B6FB7 !important;color:#fff !important"}
          Select Friend(s)
      %tr
        %td{:valign=>"top",:width => "33%"}
          %div{:style => "height:400px;overflow-y:auto;margin: 0 15px"}
            %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0}
              - @groups.each do |group|
                %tr
                  %td{:width=>"40px;"}
                    = check_box_tag "groupId][]","#{group["id"]}"
                  %td
                    = group["name"]
                  %td
                    = link_to image_tag(group["picture"]),group["link"],:target => "_blank"

        %td{:width => "33%"}
          %div{:style => "height:400px;overflow-y:auto;margin: 0 15px"}
            %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0}
              - @pages.each do |page|
                %tr
                  %td{:width=>"40px;"}
                    - if page["can_post"]
                      = check_box_tag "pageId][]","#{page["id"]}"
                    - else
                      = image_tag("can_not_post.png",:title => "You can not post on this page.")
                  %td{:title => page["can_post"]? "" : "You can not post on this page. (may be admin don't allow this feature)"}
                    = page["name"]
                  %td{:title => page["can_post"]? "" : "You can not post on this page."}
                    = link_to image_tag(page["picture"]),page["link"],:target => "_blank"

        %td{:valign => "top"}
          %div{:style => "height:400px;overflow-y:auto;margin: 0 15px"}
            %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0}
              - @friends_profile.each do |friend|
                %tr
                  %td
                    = check_box_tag "friendId[]",friend["id"]
                  %td
                    = friend["name"]
                  %td
                    = link_to image_tag(friend["picture"]),friend["link"],:target => "_blank"

      %tr
        %td{:valign => "top",:colspan=>"3",:style => "padding-left:30px;"}
          %div{:style => "margin-left: 61%;"}
            %strong
              Add Message
            %br
            = text_area_tag "message","",:style=>"width: 457px; height: 88px;background: none repeat scroll 0 0 white !important;"
    = submit_tag 'Post on selected wall(s)',:class => "button"

- else
  = link_to "Click Here to Use this App",user_omniauth_authorize_path(:facebook)