%div{:style => "font-family: ArizoniaRegular;font-size: 50px;color:#0B6FB7 !important;text-align:center;background: none repeat scroll 0 0 #0B6FB7 !important; height: 80px;width: 100%;"}
  %h1{:style => "font-size: 50px;color:#fff !important;line-height: 70px;"}
    Post Common Message On Facebook Wall Of Selected One

- if user_signed_in?
  = link_to "Logout","#{destroy_user_session_path}"
  = form_tag('/post_on_page') do
    %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0,:border => "2px"}
      %tr
        %th
          Select Group(s)
        %th
          Select Page(s)
        %th
          Select Friend(s)
      %tr
        %td{:valign=>"top",:width => "33%"}
          %div{:style => "height:400px;overflow-y:auto;margin: 0 25px;"}
            %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0}
              - @groups.each do |group|
                %tr
                  %td{:width=>"40px;"}
                    = check_box_tag "groupId][]","#{group["id"]}"
                  %td
                    = group["name"]
        %td{:width => "33%"}
          %div{:style => "height:400px;overflow-y:auto;margin: 0 25px;"}
            %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0}
              - @pages.each do |page|
                %tr
                  %td{:width=>"40px;"}
                    = check_box_tag "pageId][]","#{page["id"]}"
                  %td
                    = page["name"]

        %td{:valign => "top"}
          %div{:style => "height:400px;overflow-y:auto;margin: 0 25px;"}
            %table{:width => "100%",:align => "center",:cellpadding => 0,:cellspacing => 0}
              - @friends.each do |friend|
                %tr
                  %td
                    = check_box_tag "friendId[]",friend["id"]
                  %td
                    = friend["name"]
      %tr
        %td{:valign => "top",:colspan=>"3",:style => "padding-left:30px;"}
          %strong
            Add Message
          %br
          = text_area_tag "message","",:style=>"width: 457px; height: 88px;background: none repeat scroll 0 0 white !important;"
    = submit_tag 'Post on selected wall(s)',:class => "button"
- else
  = link_to "Click Here to Use this App",user_omniauth_authorize_path(:facebook)